<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">
</head>
<h1>Medical Report System</h1>

<a href="./patient"><h3>Patient Registration/Profile</h3></a>

<a href="./lab-manager"><h3>Lab Manager</h3></a>
<!-- <button type="button" class="btn btn-primary btn-block">Button 1</button>  -->
<br>

{% if result %}
<td id="count" colspan="3">{{result|count}} Patients Currently Registered</td>
{%endif%}