<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Lab Manager</title>
</head>
<body>
	<h1>Lab Manager</h1>
	{% if patients %}
	<h3>{{patients.message}}</h3>
	<table border="1">
		<tr>
			<th>Patient ID</th>
			<th>Name</th>
			<th>Age</th>
			<th>Area</th>
			<th>Gender</th>
			<th>Date Of Birth</th>
		</tr>
		{% for pat in patients %}
			<tr>
				<td>{{pat.patient_id}}</td>
				<td>{{pat.name}}</td>
				<td>{{pat.age}}</td>
				<td>{{pat.area}}</td>
				<td>{{pat.gender}}</td>
				<td>{{pat.dob}}</td>
			</tr>
		{%endfor%}
		<tr>
			<td id="count" colspan="6" style="text-align: center">{{patients|count}} Patient Details Found</td>
		</tr>
	</table>
	{%endif%}
</body>
</html>