<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">
    <meta charset="ISO-8859-1">
    <title>Lab Manager</title>
</head>
	<br>
<body>
	<h1>Lab Manager</h1>
	{% if patients %}
	<h3>{{patients.message}}</h3>

    <table border="1" align="center">
        <tr>
            <th style="text-align:center">Patient ID</th>
            <th style="text-align:center">Name</th>
            <th style="text-align:center">Age</th>
            <th style="text-align:center">Area</th>
            <th style="text-align:center">Gender</th>
            <th style="text-align:center">Date Of Birth</th>
            <th style="text-align:center">Delete Patient</th>
        </tr>
        {% for pat in patients %}
        <tr>
            <td style="text-align:center">{{pat.patient_id}}</td>
            <td style="text-align:center">{{pat.name}}</td>
            <td style="text-align:center">{{pat.age}}</td>
            <td style="text-align:center">{{pat.area}}</td>
            <td style="text-align:center">{{pat.gender}}</td>
            <td style="text-align:center">{{pat.dob}}</td>
            <form method="POST" action="./lab-manager/delete">
                <input type="hidden" value="{{pat.patient_id}}" name="patient_id" id="patient_id">
            <td style="text-align:center"><input type="submit" value="Delete"></td>
            </form>
        </tr>
        {%endfor%}
        <tr>
            <td id="count" colspan="7" style="text-align: center">{{patients|count}} Patient Details Found</td>
        </tr>
    </table>

    {%endif%}
  
    
	     {% if reports %}
	<h3>{{reports.message}}</h3>

    <table border="1" align="center">
        <tr>
            <th style="text-align:center">Patient ID</th>
            <th style="text-align:center">Notes</th>
            <th style="text-align:center">Delete Note</th>
        </tr>
        {% for rep in reports %}
        <tr>
            <td style="text-align:center">{{rep.patient_id}}</td>
            <td style="text-align:center">{{rep.report_text}}</td>
            <form method="POST" action="./lab-manager/delete-report">
                <input type="hidden" value="{{rep.patient_id}}" name="report_id" id="report_id">
            <td style="text-align:center"><input type="submit" value="Delete"></td>
            </form>
        </tr>
        {%endfor%}
        <tr>
            <td id="count" colspan="3" style="text-align: center">{{reports|count}} Patient Reports Found</td>
        </tr>
    </table>

    {%endif%}
    
    <div class="container-two">
        <a href="./">
            <button class="btn btn-primary btn-block" type="submit" value="Cancel" />Go Back</button>
        </a>
    <div>
    <br>
</body>

</html>