<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Patient Registration</title>
</head>
<body>
	<h1>Patient Registration</h1>

	<form id="pat-reg-form" method="POST" action="./patient/register">
	<table>
		<tr>
			<td><input name="patient_id" placeholder="Patient Number" id="patid"></td>
			<td><input name="name" placeholder="Name" id="name"></td>
			<td><input name="age" placeholder="Age" id="age"></td>
			<td><input name="area" placeholder="Area" id="area"></td>
			<td><input type="submit" value="Add"></td>
	</table>
	</form>
	
</body>
</html>
