h1 {
    width: 30%;
    margin: 0 auto; 
}
.container {
    width: 30%;
    margin: 5% auto;
    /* border: 1px solid black; */
}
.container-two{
    width: 30%;
    margin: 0 auto;
}
table {
    border-collapse: collapse;
    width: 80%;
    margin: 5% auto;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even){background-color: #d4d3d3}
  
  th {
    background-color: #166cf7;
    color: white;
  }

  textarea {
      width:100%;
  }